.user-list{
  padding: 0 15px;
  padding-top: 79px;

  .box{
    background: #fff;
    padding: 15px;

    .box-heading{
      font-family: 'Poppins';
      font-weight: 300;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0, 0, 0, 0.10);
      padding-bottom: 15px;
      margin-bottom: 20px;
    }
  }

  /* Table css */
  .table-cont{
    overflow: auto;
  }
  .mat-table{
    width: 100%;
    border: 1px solid rgba(0,0,0,.12);
    font-family: 'Poppins';

    .mat-header-cell {
      background: #00a99d;
      color: #fff;
      font-size: 16px;
      padding: 0 10px;
    }

    .mat-cell{
      padding: 0 10px;
      a{
        color: #4d4d4d;
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

/* Progress bar css start */
::ng-deep .mat-progress-bar-fill::after {
    background-color: #00a99d;
}

::ng-deep .mat-progress-bar-buffer {
    background: #fff;
}

.mat-progress-bar {
  border-radius: 20px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* Progress bar css end */


/* Progress cont */
.progress-cont{
  margin-top: 15px;

  .key{
    font-family: 'Poppins';
    font-weight: bold;
    text-transform: capitalize;
  }
  .value{
    font-family: 'Poppins';
  }
}

/* Confirmation dialog css start */
.confirmation{
  width: 350px;
  h3{
    color: #000;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid rgba(77, 77, 77, 0.3);
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .are-you-sure{
    font-family: 'Poppins';
    margin-bottom: 18px;
  }

  .actions{
    text-align: right;

    button{
      padding: 5px 19px;
      border-radius: 50px;
      border-width: 1px;
      background: transparent;
      margin-left: 10px;
      cursor: pointer;
      font-family: 'Poppins';

      &.no{
        color: #00a99d;
        border: 1px solid #00a99d !important;
      }

      &.yes{
        color: #fff;
        background-color: #00a99d;
        border-color: #00a99d;
        border: 1px solid #00a99d !important;
      }
    }
  }
}
/* Confirmation dialog css end */

/*Media queries  start*/
/* Portrait tablets and small desktops */
@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 992px) {
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .confirmation{
    width: auto;
  }
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {

}
